<!DOCTYPE html>
<html>
<head>
	<title>Dear Diary</title>
	<!--Log in page template with some external css styling and external jquery and javascript validation-->
	<meta charset="utf-8"> <!-- Defined Character Set -->
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Set Viewport-->
	<link rel="stylesheet" type="text/css" href="stylesheet.css"> <!--External CSS file -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- JQuery CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- FontAwesome CDN-->
	
</head>
<body>
	<img class="bg" src="/wave3.png"> <!--Main background Image -->
	<div class="container">  <!-- Container div for all the elements on the page apart from background image -->
		<div class="img">  <!--div for holding the book image on the left hand side of the screen -->
			<img src="/diary_login.svg">  <!--image location for actual book app image -->
		</div>
		<div class="login-container">  <!-- Container div for the login on the right hand side, but will also be used for the generic holder -->
			