<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Dear Diary</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet.css"> <!--External CSS file -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/menuBar.js"></script>

</head>


<body>
	<div id="wrapper">
	<img class="bg" src="/wave3.png"> <!--Main background Image -->
		<header>
			<div class="logo">DEAR DIARY</div>
			<nav class="active">
				<ul>
					<li><a href="/home">PROFILE</a></li>
					<li><a href="/diaryPages">DIARY</a></li>
					<li><a href="/logout">LOGOUT</a></li>
				</ul>
			</nav>
			<div class="menu-toggle"><i class="fa fa-bars"></i></div>
		</header>
		<div class="container">  <!-- Container div for all the elements on the page apart from background image -->
		<div class="img">  <!--div for holding the book image on the left hand side of the screen -->
			<img src="/diary_login.svg">  <!--image location for book image image -->
		</div>
		<div class="login-container">  <!-- Container div for the login on the right hand side -->
